*{
	margin: 0;
}

body {
	background:#000;
	font-size: 14px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

p{
	margin-bottom: 12px;
}

canvas { 
	display: block; 
	outline: 0px;
}

section{ 
	width: 640px;
	height: 480px;
	margin:48px auto 0 auto;
	background:#000;
}

.sp-only{
	display: none;
}

#buttons{
	margin:0 auto;
	background:#FFF;
	width: 640px;
	height: auto;
	position: relative;
}

#buttons button{
	width: 48%;
	margin: 0;
	padding:12px 0;
	font-size: 1.4em;
	font-weight: bold;
	color:#FFF;
	background:#000;
}

#buttons button{
	border: none;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #fff;
}

#buttons button:nth-child(0){
	position: absolute;
	left: 0;
}

#buttons button:nth-child(1){
	position: absolute;
	right: 0;
}


#buttons button:hover{
	color: #000;
	background: #FFF;
}

#menu{
	margin:0 auto;
	background:#FFF;
	width: 640px;
	height: auto;

}

@media screen and (max-width: 640px) {
	section{
		margin:0 auto;
	}

	canvas, section{
		width: 100%;
		height: auto;
	}

	.sp-only{
		display: block;
	}

	#buttons{
		width: 100%;
	}

	#menu{
		width:100%;
	}
}
